/*
font-family: "Oswald", sans-serif;
font-family: "Quattrocento", serif;
font-family: "Share", sans-serif;
*/

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(226, 236, 233);
}

h1 {
  color: rgb(190, 225, 231);
  background-color: rgb(4, 65, 74);
  width: 100vw;
  text-align: center;
  padding: 10px 0;
}

h1, h2 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Quattrocento", serif;
}

p.likes {
  font-size: 0.8rem;
}

p.desc {
 font-size: 1rem;
}

p.food-stats {
  font-size: 0.9rem;
  display: flex;
}

img.star-icon {
  height: 12px;
}

h1, h2, p {
  margin: 0;
}

main#grid-container {
  margin-top: 20px;
  width: 80vw;
  display: grid;
  grid-template-columns:  repeat(3, minmax(250px, 1fr));
  gap: 20px;
}

div.tile-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

div.text-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 10px;
}

div.stats-container {
  display: flex;
  gap: 10px;
}

div.button-container {
  display: flex;
  gap: 10px;
  justify-content: right;
}

@media only screen and (max-width: 900px) {
  main#grid-container {
    margin-top: 20px;
    width: 90vw;
    display: grid;
    grid-template-columns:  repeat(1, minmax(250px, 1fr));
    gap: 20px;
  }
}